{% load i18n %}
{% load static %}
<br>
<div class="card border-primary">
    <div class="card-body m-0">
        {% if widget.is_initial %}
            <div class="avatar-editing p-2">
                <div class="mb-3">{% trans '编辑头像' %}:</div>
                <div id="cropper-wrapper">
                    <img class="rounded" id="avatar" style="max-width: 100%; max-height: 20rem"
                         src="{{ widget.value.url }}"
                         alt={% trans '头像' %}>
                </div>
                <div class="row mx-0">
                    <div class="avatar_preview img-thumbnail p-0 my-2 mr-2"
                         style="width: 200px; height: 200px; overflow: hidden">
                    </div>
                    <div class="avatar_preview img-thumbnail p-0 my-2 mr-2"
                         style="width: 128px; height: 128px; overflow: hidden">
                    </div>
                    <div class="avatar_preview img-thumbnail p-0 my-2 mr-2"
                         style="width: 50px; height: 50px; overflow: hidden">
                    </div>
                </div>
                <div class="custom-control custom-checkbox">
                    {% if not widget.required %}
                        <input class="custom-control-input" type="checkbox"
                               name="{{ widget.checkbox_name }}"
                               id="{{ widget.checkbox_id }}">
                        <label class="custom-control-label text-danger"
                               for="{{ widget.checkbox_id }}">{% trans '删除当前头像' %}</label>
                    {% endif %}
                </div>
            </div>
            <script type="application/javascript"
                    src="{% static 'account/avatar/avatar.js' %}"></script>
            <script type="application/javascript">avatar_edit_init('avatar', 3 / 4, 4 / 3)</script>
        {% endif %}

        <div class="avatar-uploading p-2">
            <div class="custom-file">
                <input type="{{ widget.type }}" name="{{ widget.name }}" onchange="form.submit()"
                        {% include "django/forms/widgets/attrs.html" %} class="custom-file-input"
                >
                <label class="custom-file-label" for="{{ widget.attrs.id }}">
                    {% trans '点击上传新头像' %}</label>
            </div>
        </div>
    </div>
</div>

