{% extends 'account/account_base.html' %}
{% load i18n %}

{% block title_prefix %}{% trans '重置密码' %}{% endblock %}

{% block main %}
    <div class="jumbotron">
        {% if validlink %}
        <h1 class="display-4">{% trans '重置密码' %}</h1>
        <form method="post">
            {% csrf_token %}
            {% include 'utility/bootstrap_form.html' with form=form %}
            <button role="button" type="submit" value="login"
                    class="btn btn-primary">{% trans '提交' %}</button>
        </form>
        {% else %}
        <p>
            {% trans '您提供的密码重置链接无效。' %}
        </p>
        {% endif %}
    </div>
{% endblock %}